In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
df = pd.read_csv("HIV_AIDS_Diagnoses_by_Neighborhood__Sex__and_Race_Ethnicity.csv", encoding='utf-8')
# Load the dataset from the CSV Library

In [2]:
#Check t verify the datatypes of the variables in the dataset
def getDatatypes():
    try:
        return df.dtypes
    except BaseException as error:
        print(error)

In [3]:
getDatatypes()

YEAR                                                                    int64
Borough                                                                object
Neighborhood (U.H.F)                                                   object
SEX                                                                    object
RACE/ETHNICITY                                                         object
TOTAL NUMBER OF HIV DIAGNOSES                                          object
HIV DIAGNOSES PER 100,000 POPULATION                                   object
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          object
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    object
TOTAL NUMBER OF AIDS DIAGNOSES                                         object
AIDS DIAGNOSES PER 100,000 POPULATION                                  object
dtype: object

In [4]:
df.isna().sum()  / df.shape[0] * 100

YEAR                                                                    0.000000
Borough                                                                32.620321
Neighborhood (U.H.F)                                                    0.000000
SEX                                                                     0.000000
RACE/ETHNICITY                                                          0.000000
TOTAL NUMBER OF HIV DIAGNOSES                                           0.066845
HIV DIAGNOSES PER 100,000 POPULATION                                    0.824421
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                           0.022282
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    21.089572
TOTAL NUMBER OF AIDS DIAGNOSES                                          0.033422
AIDS DIAGNOSES PER 100,000 POPULATION                                   0.790998
dtype: float64

In [5]:
# Get the List of numeric columns
numeric_columns = ['TOTAL NUMBER OF HIV DIAGNOSES','HIV DIAGNOSES PER 100,000 POPULATION','TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES','PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES','TOTAL NUMBER OF AIDS DIAGNOSES']

In [6]:
#convert the columns in number to numeric and reassign to the data frame
def convertNumericColumns():
    try:
        for items in numeric_columns:
            df[items] = pd.to_numeric(df[items], errors = 'coerce')
        #DataCleaning Processing
        # 1. Remove the \n character from the datasets
        df['Neighborhood (U.H.F)'] = df['Neighborhood (U.H.F)'].str.replace('\n','')
        df['RACE/ETHNICITY'] = df['RACE/ETHNICITY'].str.replace('\n', '')
        df['Borough'] = df['Borough'].str.replace('\n','')
    except BaseException as error:
        print(error)
convertNumericColumns()

In [7]:
#Remove all white spaces and also
def consolidateNeigborhoodNames():
    try:
        df['Neighborhood (U.H.F)'] = df['Neighborhood (U.H.F)'].str.replace(' -','-').str.replace('- ','-').str.replace(' ','')
        df['Neighborhood (U.H.F)'] = [names.lower() for names in df['Neighborhood (U.H.F)']]
    except BaseException as error:
        print(error)
consolidateNeigborhoodNames()

In [8]:
set(df['Neighborhood (U.H.F)'])

{'all',
 'bayside-littleneck',
 'bedfordstuyvesant-crownheights',
 'bensonhurst-bayridge',
 'boroughpark',
 'canarsie-flatlands',
 'centralharlem-morningsideheights',
 'chelsea-clinton',
 'coneyisland-sheepsheadbay',
 'crotona-tremont',
 'downtown-heights-parkslope',
 'eastflatbush-flatbush',
 'eastharlem',
 'eastnewyork',
 'flushing-clearview',
 'fordham-bronxpark',
 'freshmeadows',
 'gramercypark-murrayhill',
 'greenpoint',
 'greenwichvillage-soho',
 'highbridge-morrisania',
 'huntspoint-motthaven',
 'jamaica',
 'kingsbridge-riverdale',
 'longislandcity-astoria',
 'lowermanhattan',
 'northeastbronx',
 'pelham-throgsneck',
 'portrichmond',
 'ridgewood-foresthills',
 'rockaway',
 'southbeach-tottenville',
 'southeastqueens',
 'southwestqueens',
 'stapleton-st.george',
 'sunsetpark',
 'unionsquare-lowereastside',
 'unknown',
 'uppereastside',
 'upperwestside',
 'washingtonheights-inwood',
 'westqueens',
 'williamsburg-bushwick',
 'willowbrook'}

In [9]:
def preProcesstheGenderColumn():
    try:
        df['SEX']
    except BaseException as error:
        print(error)

In [10]:
set(df['SEX'])

{'All', 'Female', 'Male'}

In [11]:
set(df['RACE/ETHNICITY'])

{'All',
 'Asian/Pacific Islander',
 'Asian/PacificIslander',
 'Black',
 'Hispanic',
 'Latino/Hispanic',
 'Multiracial',
 'Native American',
 'Other/Unknown',
 'Unknown',
 'White'}

In [12]:
def cleanRaceEth():
    try:
        df['RACE/ETHNICITY'] = df['RACE/ETHNICITY'].str.replace(' ','').str.replace('Latino/Hispanic','Hispanic').str.replace('Other/Unknown','Unknown')
        df['RACE/ETHNICITY'] = [names.lower() for names in df['RACE/ETHNICITY']]
    except BaseException as error:
        print(error)
cleanRaceEth()

In [261]:
set(df['RACE/ETHNICITY'])

{'all',
 'asian/pacificislander',
 'black',
 'hispanic',
 'multiracial',
 'nativeamerican',
 'unknown',
 'white'}

In [262]:
df.head(10)

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,greenpoint,Male,black,6.0,330.4,0.0,0.0,5.0,275.3
1,2011,NaN,stapleton-st.george,Female,nativeamerican,0.0,0.0,0.0,0.0,0.0,0
2,2010,NaN,southeastqueens,Male,all,23.0,25.4,5.0,21.7,14.0,15.4
3,2012,NaN,upperwestside,Female,unknown,0.0,0.0,0.0,0.0,0.0,0
4,2013,NaN,willowbrook,Male,unknown,0.0,0.0,0.0,0.0,0.0,0
5,2013,NaN,eastflatbush-flatbush,Male,black,54.0,56.5,8.0,14.8,33.0,34.5
6,2013,NaN,eastflatbush-flatbush,Female,nativeamerican,0.0,0.0,0.0,0.0,0.0,0
7,2013,NaN,southwestqueens,Female,unknown,0.0,0.0,0.0,0.0,0.0,0
8,2012,NaN,fordham-bronxpark,Male,unknown,0.0,0.0,0.0,0.0,0.0,0
9,2010,NaN,flushing-clearview,All,all,14.0,5.4,5.0,35.7,12.0,4.6

In [269]:
missing_borough = df[df['Borough'].isna()]
set(missing_borough['Neighborhood (U.H.F)']) # note from the output below, we will deal with missing values by matching similar neighborhood with borough already captured in our dataset.
#All indicates i.e if SEX = All, it represents male and female, same thing applies for RACE/ETHINICITY

{'all',
 'bayside-littleneck',
 'bedfordstuyvesant-crownheights',
 'bensonhurst-bayridge',
 'boroughpark',
 'canarsie-flatlands',
 'centralharlem-morningsideheights',
 'chelsea-clinton',
 'coneyisland-sheepsheadbay',
 'crotona-tremont',
 'downtown-heights-parkslope',
 'eastflatbush-flatbush',
 'eastharlem',
 'eastnewyork',
 'flushing-clearview',
 'fordham-bronxpark',
 'freshmeadows',
 'gramercypark-murrayhill',
 'greenpoint',
 'greenwichvillage-soho',
 'highbridge-morrisania',
 'huntspoint-motthaven',
 'jamaica',
 'kingsbridge-riverdale',
 'longislandcity-astoria',
 'lowermanhattan',
 'northeastbronx',
 'pelham-throgsneck',
 'portrichmond',
 'ridgewood-foresthills',
 'rockaway',
 'southbeach-tottenville',
 'southeastqueens',
 'southwestqueens',
 'stapleton-st.george',
 'sunsetpark',
 'unionsquare-lowereastside',
 'unknown',
 'uppereastside',
 'upperwestside',
 'washingtonheights-inwood',
 'westqueens',
 'williamsburg-bushwick',
 'willowbrook'}

In [216]:
df[df['Borough'] == 'All']

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
2928,2016,All,All,All,All,2235.0,31.2,367.0,16.4,1390.0,19.4
2929,2016,All,All,All,Asian/PacificIslander,145.0,13.8,32.0,22.1,52.0,5
2930,2016,All,All,All,Black,933.0,58.4,171.0,18.3,668.0,41.8
2931,2016,All,All,All,Latino/Hispanic,792.0,39.6,115.0,14.5,474.0,23.7
2932,2016,All,All,All,Other/Unknown,27.0,22.9,6.0,22.2,13.0,11
...,...,...,...,...,...,...,...,...,...,...,...
8125,2021,All,All,Male,Asian/PacificIslander,82.0,15.7,23.0,28.0,37.0,7.1
8126,2021,All,All,Male,Black,533.0,74.7,92.0,17.3,342.0,48
8127,2021,All,All,Male,Latino/Hispanic,509.0,52.2,102.0,20.0,302.0,31
8128,2021,All,All,Male,Other/Unknown,15.0,24.8,4.0,26.7,11.0,18.2
8129,2021,All,All,Male,White,167.0,14.6,24.0,14.4,101.0,8.9

In [217]:
df[df['YEAR'] == 2021]

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
8112,2021,All,All,All,All,1592.0,22.1,306.0,19.2,1053.0,14.6
8113,2021,All,All,All,Asian/PacificIslander,91.0,8.2,27.0,29.7,44.0,4
8114,2021,All,All,All,Black,702.0,44.3,129.0,18.4,511.0,32.3
8115,2021,All,All,All,Latino/Hispanic,593.0,29.2,117.0,19.7,369.0,18.2
8116,2021,All,All,All,Other/Unknown,19.0,14.6,5.0,26.3,15.0,11.5
...,...,...,...,...,...,...,...,...,...,...,...
8971,2021,StatenIsland,Willowbrook,Male,Asian/PacificIslander,2.0,24.2,0.0,0.0,0.0,0
8972,2021,StatenIsland,Willowbrook,Male,Black,0.0,0.0,0.0,NaN,0.0,0
8973,2021,StatenIsland,Willowbrook,Male,Latino/Hispanic,1.0,18.2,0.0,0.0,0.0,0
8974,2021,StatenIsland,Willowbrook,Male,Other/Unknown,0.0,0.0,0.0,NaN,1.0,153
8975,2021,StatenIsland,Willowbrook,Male,White,0.0,0.0,0.0,NaN,3.0,12.8

In [218]:
df.dtypes

YEAR                                                                     int64
Borough                                                                 object
Neighborhood (U.H.F)                                                    object
SEX                                                                     object
RACE/ETHNICITY                                                          object
TOTAL NUMBER OF HIV DIAGNOSES                                          float64
HIV DIAGNOSES PER 100,000 POPULATION                                   float64
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                          float64
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    float64
TOTAL NUMBER OF AIDS DIAGNOSES                                         float64
AIDS DIAGNOSES PER 100,000 POPULATION                                   object
dtype: object

In [219]:
set(df['Neighborhood (U.H.F)'])

{'All',
 'Bayside- Little Neck',
 'Bedford Stuyvesant- Crown Heights',
 'Bedford Stuyvesant-Crown Heights',
 'Bensonhurst- Bay Ridge',
 'Bensonhurst- BayRidge',
 'Borough Park',
 'Canarsie- Flatlands',
 'Central Harlem- Morningside Heights',
 'Central Harlem-Morningside Heights',
 'Chelsea- Clinton',
 'Coney Island- Sheepshead Bay',
 'Coney Island-Sheepshead Bay',
 'Crotona- Tremont',
 'Downtown- Heights- Park Slope',
 'Downtown- Heights-Park Slope',
 'East Flatbush- Flatbush',
 'East Flatbush-Flatbush',
 'East Harlem',
 'East New York',
 'Flushing- Clearview',
 'Fordham- Bronx Park',
 'Fordham- BronxPark',
 'Fresh Meadows',
 'Gramercy Park- Murray Hill',
 'Gramercy Park-Murray Hill',
 'Greenpoint',
 'Greenwich Village- SoHo',
 'Greenwich Village-Soho',
 'High Bridge- Morrisania',
 'High Bridge-Morrisania',
 'Hunts Point- Mott Haven',
 'Hunts Point- MottHaven',
 'Jamaica',
 'Kingsbridge- Riverdale',
 'Kingsbridge-Riverdale',
 'Long Island City- Astoria',
 'Long Island City-Astoria',
 'Lower Manhattan',
 'Northeast Bronx',
 'Pelham- Throgs Neck',
 'Pelham- ThrogsNeck',
 'Port Richmond',
 'Ridgewood- Forest Hills',
 'Ridgewood- ForestHills',
 'Rockaway',
 'South Beach- Tottenville',
 'South Beach-Tottenville',
 'Southeast Queens',
 'Southwest Queens',
 'Stapleton- St. George',
 'Stapleton- St.George',
 'Sunset Park',
 'Union Square- Lower Eastside',
 'Union Square-Lower East Side',
 'Unknown',
 'Upper East Side',
 'Upper Eastside',
 'Upper West Side',
 'Upper Westside',
 'Washington Heights- Inwood',
 'Washington Heights-Inwood',
 'West Queens',
 'Williamsburg- Bushwick',
 'Williamsburg-Bushwick',
 'Willowbrook'}

In [186]:
#We have to merge datasets together - Some data sets have similar names, this mnust have been errors in the process of entering the data - we will have to merge these data to have a unique names for the Neighbour variables in our data sets.
df[df['Neighborhood (U.H.F)'] == 'South Beach - Tottenville']

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
23,2011,NaN,South Beach - Tottenville,All,All,4.0,2.1,2.0,50.0,4.0,2.1
39,2010,NaN,South Beach - Tottenville,Female,Unknown,0.0,0.0,0.0,0.0,0.0,0
196,2013,NaN,South Beach - Tottenville,Female,Black,0.0,0.0,0.0,0.0,0.0,0
234,2013,NaN,South Beach - Tottenville,Male,Asian/Pacific Islander,0.0,0.0,0.0,0.0,0.0,0
270,2013,NaN,South Beach - Tottenville,Female,White,2.0,2.5,1.0,50.0,2.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...
2721,2011,NaN,South Beach - Tottenville,Male,Black,0.0,0.0,0.0,0.0,0.0,0
2777,2012,NaN,South Beach - Tottenville,Male,Hispanic,0.0,0.0,0.0,0.0,0.0,0
2781,2011,NaN,South Beach - Tottenville,Male,Asian/Pacific Islander,0.0,0.0,0.0,0.0,0.0,0
2845,2011,NaN,South Beach - Tottenville,Female,Black,0.0,0.0,0.0,0.0,0.0,0
2881,2012,NaN,South Beach - Tottenville,Female,Unknown,0.0,0.0,0.0,0.0,0.0,0

In [187]:
df[df['Neighborhood (U.H.F)'] == 'South Beach -Tottenville']

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3738,2016,StatenIsland,South Beach -Tottenville,All,All,24.0,14.5,3.0,12.5,4.0,2.4
3739,2016,StatenIsland,South Beach -Tottenville,All,Asian/PacificIslander,0.0,0.0,0.0,NaN,0.0,0
3740,2016,StatenIsland,South Beach -Tottenville,All,Black,6.0,253.6,1.0,16.7,0.0,0
3741,2016,StatenIsland,South Beach -Tottenville,All,Latino/Hispanic,10.0,56.3,1.0,10.0,3.0,16.9
3742,2016,StatenIsland,South Beach -Tottenville,All,Other/Unknown,1.0,64.2,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
8935,2021,StatenIsland,South Beach -Tottenville,Male,Asian/PacificIslander,0.0,0.0,0.0,NaN,0.0,0
8936,2021,StatenIsland,South Beach -Tottenville,Male,Black,0.0,0.0,0.0,NaN,0.0,0
8937,2021,StatenIsland,South Beach -Tottenville,Male,Latino/Hispanic,2.0,20.3,1.0,50.0,2.0,20.3
8938,2021,StatenIsland,South Beach -Tottenville,Male,Other/Unknown,0.0,0.0,0.0,NaN,0.0,0
8939,2021,StatenIsland,South Beach -Tottenville,Male,White,4.0,6.3,1.0,25.0,1.0,1.6

In [103]:
# Dealing with Missing Data in our data set. on Observation, we can  link a  neighbour to a Borough
# will compare both variables and use it as a medium to replace missing data for th
def getAllNeighborhood():
    try:
        neighbourhood = list(set(df['Neighborhood (U.H.F)']))
        return neighbourhood
    except BaseException as error:
        print(error)

In [127]:
getAllNeighborhood()

['Kingsbridge - Riverdale',
 'Central Harlem - Morningside Heights',
 'Chelsea - Clinton',
 'Bayside - Little Neck',
 'All',
 'High Bridge -\nMorrisania',
 'Jamaica',
 'Southwest Queens',
 'Canarsie - Flatlands',
 'East Harlem',
 'Ridgewood - Forest Hills',
 'Fordham - Bronx\nPark',
 'South Beach -\nTottenville',
 'Washington Heights - Inwood',
 'Ridgewood - Forest\nHills',
 'East Flatbush - Flatbush',
 'Pelham - Throgs\nNeck',
 'Union Square - Lower Eastside',
 'South Beach - Tottenville',
 'Long Island City -\nAstoria',
 'Fresh Meadows',
 'Northeast Bronx',
 'Crotona - Tremont',
 'Lower Manhattan',
 'Downtown - Heights -\nPark Slope',
 'Union Square -\nLower East Side',
 'Upper East Side',
 'Hunts Point - Mott Haven',
 'East Flatbush -\nFlatbush',
 'Coney Island - Sheepshead Bay',
 'Fordham - Bronx Park',
 'Long Island City - Astoria',
 'Williamsburg -\nBushwick',
 'Upper Westside',
 'Gramercy Park - Murray Hill',
 'Greenpoint',
 'Washington Heights -\nInwood',
 'Greenwich Village - SoHo',
 'Sunset Park',
 'Central Harlem -\nMorningside Heights',
 'Greenwich Village -\nSoho',
 'Gramercy Park -\nMurray Hill',
 'Southeast Queens',
 'Bensonhurst - Bay Ridge',
 'Unknown',
 'Borough Park',
 'Willowbrook',
 'West Queens',
 'Stapleton - St. George',
 'High Bridge - Morrisania',
 'Upper Eastside',
 'Rockaway',
 'Bensonhurst - Bay\nRidge',
 'Port Richmond',
 'East New York',
 'Williamsburg - Bushwick',
 'Flushing - Clearview',
 'Stapleton - St.\nGeorge',
 'Pelham - Throgs Neck',
 'Coney Island -\nSheepshead Bay',
 'Upper West Side',
 'Hunts Point - Mott\nHaven',
 'Downtown - Heights - Park Slope',
 'Bedford Stuyvesant - Crown Heights',
 'Bedford Stuyvesant -\nCrown Heights',
 'Kingsbridge -\nRiverdale']

In [131]:
count = 0
number_count  = []
while count < len(getAllNeighborhood()):
    print(getAllNeighborhood()[count])
    number_count.append(getAllNeighborhood()[count])
    count +=1

Kingsbridge - Riverdale
Central Harlem - Morningside Heights
Chelsea - Clinton
Bayside - Little Neck
All
High Bridge -
Morrisania
Jamaica
Southwest Queens
Canarsie - Flatlands
East Harlem
Ridgewood - Forest Hills
Fordham - Bronx
Park
South Beach -
Tottenville
Washington Heights - Inwood
Ridgewood - Forest
Hills
East Flatbush - Flatbush
Pelham - Throgs
Neck
Union Square - Lower Eastside
South Beach - Tottenville
Long Island City -
Astoria
Fresh Meadows
Northeast Bronx
Crotona - Tremont
Lower Manhattan
Downtown - Heights -
Park Slope
Union Square -
Lower East Side
Upper East Side
Hunts Point - Mott Haven
East Flatbush -
Flatbush
Coney Island - Sheepshead Bay
Fordham - Bronx Park
Long Island City - Astoria
Williamsburg -
Bushwick
Upper Westside
Gramercy Park - Murray Hill
Greenpoint
Washington Heights -
Inwood
Greenwich Village - SoHo
Sunset Park
Central Harlem -
Morningside Heights
Greenwich Village -
Soho
Gramercy Park -
Murray Hill
Southeast Queens
Bensonhurst - Bay Ridge
Unknown
Borough Park
Willowbrook
West Queens
Stapleton - St. George
High Bridge - Morrisania
Upper Eastside
Rockaway
Bensonhurst - Bay
Ridge
Port Richmond
East New York
Williamsburg - Bushwick
Flushing - Clearview
Stapleton - St.
George
Pelham - Throgs Neck
Coney Island -
Sheepshead Bay
Upper West Side
Hunts Point - Mott
Haven
Downtown - Heights - Park Slope
Bedford Stuyvesant - Crown Heights
Bedford Stuyvesant -
Crown Heights
Kingsbridge -
Riverdale

In [133]:
len(number_count)

66

In [114]:
set(df[df['Neighborhood (U.H.F)'] == 'Kingsbridge - Riverdale']['Borough'])

{nan}

In [119]:
df[df['Neighborhood (U.H.F)'] == 'Fordham - Bronx']

Empty DataFrame
Columns: [YEAR, Borough, Neighborhood (U.H.F), SEX, RACE/ETHNICITY, TOTAL NUMBER OF HIV DIAGNOSES, HIV DIAGNOSES PER 100,000 POPULATION, TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES, PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES, TOTAL NUMBER OF AIDS DIAGNOSES, AIDS DIAGNOSES PER 100,000 POPULATION]
Index: []

In [121]:
df['Neighborhood (U.H.F)']

0                   Greenpoint
1       Stapleton - St. George
2             Southeast Queens
3               Upper Westside
4                  Willowbrook
                 ...
8971               Willowbrook
8972               Willowbrook
8973               Willowbrook
8974               Willowbrook
8975               Willowbrook
Name: Neighborhood (U.H.F), Length: 8976, dtype: object

In [125]:
item_list_col = list(set(df['Neighborhood (U.H.F)']))
counter = []
for items in item_list_col:
    display(df[df['Neighborhood (U.H.F)'] == items].head(1))
    counter.append(1)

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
79,2013,NaN,Kingsbridge - Riverdale,Female,White,1,4.9,1,100,1,4.9

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
40,2013,NaN,Central Harlem - Morningside Heights,Female,Black,17,34.8,8,47.1,20,41

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
11,2012,NaN,Chelsea - Clinton,Female,Native American,0,0,0,0,*,*

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
54,2013,NaN,Bayside - Little Neck,Male,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
181,2013,NaN,All,All,All,2832,33.7,574,20.3,1784,21.2

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3000,2016,Bronx,High Bridge -\nMorrisania,All,All,94,54.2,21,22.3,80,46.1

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
20,2013,NaN,Jamaica,Female,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
7,2013,NaN,Southwest Queens,Female,Unknown,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
92,2011,NaN,Canarsie - Flatlands,Male,Hispanic,9,116,3,33.3,5,64.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
106,2013,NaN,East Harlem,Female,All,13,22,2,15.4,15,25.3

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
111,2011,NaN,Ridgewood - Forest Hills,Female,All,6,4.7,2,33.3,5,3.9

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
2982,2016,Bronx,Fordham - Bronx\nPark,All,All,104,48.3,20,19.2,60,27.8

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3738,2016,Staten\nIsland,South Beach -\nTottenville,All,All,24,14.5,3,12.5,4,2.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
69,2013,NaN,Washington Heights - Inwood,All,All,135,52.9,23,17,68,26.6

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3612,2016,Queens,Ridgewood - Forest\nHills,All,All,40,17.7,6,15,19,8.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
5,2013,NaN,East Flatbush - Flatbush,Male,Black,54,56.5,8,14.8,33,34.5

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3072,2016,Bronx,Pelham - Throgs\nNeck,All,All,74,29.6,13,17.6,45,18

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
24,2010,NaN,Union Square - Lower Eastside,Female,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
23,2011,NaN,South Beach - Tottenville,All,All,4,2.1,2,50,4,2.1

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3594,2016,Queens,Long Island City -\nAstoria,All,All,54,29.4,9,16.7,19,10.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
50,2012,NaN,Fresh Meadows,Female,Black,0,0,0,0,1,21.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
83,2013,NaN,Northeast Bronx,Male,Multiracial,1,89.9,1,100,1,89.9

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
18,2012,NaN,Crotona - Tremont,Female,Native American,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
110,2011,NaN,Lower Manhattan,Male,Asian/Pacific Islander,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3198,2016,Brooklyn,Downtown - Heights -\nPark Slope,All,All,33,15.1,2,6.1,15,6.8

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3432,2016,Manhattan,Union Square -\nLower East Side,All,All,35,20.8,10,28.6,16,9.5

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3450,2016,Manhattan,Upper East Side,All,All,14,7.4,1,7.1,5,2.7

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
77,2010,NaN,Hunts Point - Mott Haven,Female,All,29,40.3,7,24.1,24,33.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3217,2016,Brooklyn,East Flatbush -\nFlatbush,All,All,88,34.9,20,22.7,55,21.8

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
12,2012,NaN,Coney Island - Sheepshead Bay,Male,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
8,2012,NaN,Fordham - Bronx Park,Male,Unknown,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
145,2013,NaN,Long Island City - Astoria,Male,Black,13,209.8,1,7.7,5,80.7

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3288,2016,Brooklyn,Williamsburg -\nBushwick,All,All,76,41.9,7,9.2,41,22.6

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3,2012,NaN,Upper Westside,Female,Unknown,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
17,2013,NaN,Gramercy Park - Murray Hill,Male,Black,5,200.7,1,20,5,200.7

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6,330.4,0,0,5,275.3

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3486,2016,Manhattan,Washington Heights -\nInwood,All,All,81,34.6,8,9.9,36,15.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
32,2011,NaN,Greenwich Village - SoHo,Male,Unknown,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
38,2013,NaN,Sunset Park,Female,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3324,2016,Manhattan,Central Harlem -\nMorningside Heights,All,All,81,51.5,16,19.8,51,32.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3396,2016,Manhattan,Greenwich Village -\nSoho,All,All,25,33.6,2,8,9,12.1

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3378,2016,Manhattan,Gramercy Park -\nMurray Hill,All,All,16,12.7,2,12.5,9,7.1

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
64,2013,NaN,Bensonhurst - Bay Ridge,Female,Native American,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
14,2013,NaN,Unknown,Male,Multiracial,7,NaN,0,NaN,1,NaN

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
25,2011,NaN,Borough Park,Male,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
4,2013,NaN,Willowbrook,Male,Unknown,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
43,2011,NaN,West Queens,Male,Native American,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
1,2011,NaN,Stapleton - St. George,Female,Native American,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
57,2011,NaN,High Bridge - Morrisania,Male,Black,34,102,9,26.5,35,105

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
75,2013,NaN,Upper Eastside,Male,White,14,17.7,3,21.4,5,6.3

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
136,2013,NaN,Rockaway,Female,Native American,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3126,2016,Brooklyn,Bensonhurst - Bay\nRidge,All,All,13,7.5,2,15.4,11,6.3

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
28,2013,NaN,Port Richmond,Female,All,5,13.6,1,20,4,10.9

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
33,2011,NaN,East New York,Male,All,59,68.1,19,32.2,55,63.5

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
127,2010,NaN,Williamsburg - Bushwick,Female,White,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
9,2010,NaN,Flushing - Clearview,All,All,14,5.4,5,35.7,12,4.6

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3756,2016,Staten\nIsland,Stapleton - St.\nGeorge,All,All,25,24.3,5,20,17,16.5

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
35,2011,NaN,Pelham - Throgs Neck,Female,Hispanic,14,17.5,3,21.4,13,16.3

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3180,2016,Brooklyn,Coney Island -\nSheepshead Bay,All,All,28,11.4,9,32.1,17,6.9

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3468,2016,Manhattan,Upper West Side,All,All,27,14,5,18.5,20,10.4

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3018,2016,Bronx,Hunts Point - Mott\nHaven,All,All,68,60.8,9,13.2,45,40.2

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
34,2013,NaN,Downtown - Heights - Park Slope,Male,Multiracial,0,0,0,0,0,0

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
47,2011,NaN,Bedford Stuyvesant - Crown Heights,Female,Hispanic,4,17.6,1,25,3,13.2

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3108,2016,Brooklyn,Bedford Stuyvesant -\nCrown Heights,All,All,170,60.1,36,21.2,96,33.9

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
3036,2016,Bronx,Kingsbridge -\nRiverdale,All,All,14,17.4,1,7.1,3,3.7

In [126]:
len(counter)

66

In [129]:
len(set(df['Neighborhood (U.H.F)']))

66

In [13]:
df.head(10)

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,greenpoint,Male,black,6.0,330.4,0.0,0.0,5.0,275.3
1,2011,NaN,stapleton-st.george,Female,nativeamerican,0.0,0.0,0.0,0.0,0.0,0
2,2010,NaN,southeastqueens,Male,all,23.0,25.4,5.0,21.7,14.0,15.4
3,2012,NaN,upperwestside,Female,unknown,0.0,0.0,0.0,0.0,0.0,0
4,2013,NaN,willowbrook,Male,unknown,0.0,0.0,0.0,0.0,0.0,0
5,2013,NaN,eastflatbush-flatbush,Male,black,54.0,56.5,8.0,14.8,33.0,34.5
6,2013,NaN,eastflatbush-flatbush,Female,nativeamerican,0.0,0.0,0.0,0.0,0.0,0
7,2013,NaN,southwestqueens,Female,unknown,0.0,0.0,0.0,0.0,0.0,0
8,2012,NaN,fordham-bronxpark,Male,unknown,0.0,0.0,0.0,0.0,0.0,0
9,2010,NaN,flushing-clearview,All,all,14.0,5.4,5.0,35.7,12.0,4.6

In [12]:
number of  cases = 30
total number of population = 100
incident = number of cases / total number of population * 100


Propopotion = total number of cases in district / total number of cases in a state * 100