In [9]:
import numpy as np
import pandas as pd
import requests
from sklearn.datasets import fetch_openml
# Location names to geocode
locations = ['bronx', 'brooklyn', 'manhattan', 'queens', 'staten island', 'unknown']

# URL for the Nominatim geocoding service
url = "https://nominatim.openstreetmap.org/search"

# List to store the location data
location_data = []

# Loop over the location names and geocode each one
for loc in locations:
    # Parameters for the API request
    params = {
        "q": loc,
        "format": "jsonv2"
    }

    # Send a GET request to the API
    response = requests.get(url, params=params)

    # Parse the JSON response
    json_data = response.json()

    # Get the latitude and longitude coordinates from the response
    lat = float(json_data[0]["lat"])
    lon = float(json_data[0]["lon"])

    # Append the location name and coordinates to the list
    location_data.append((loc, lat, lon))

# Print the location data
print(location_data)

[('bronx', 40.851039, -73.84025027765061), ('brooklyn', 40.6526006, -73.9497211), ('manhattan', 40.7896239, -73.9598939), ('queens', 40.7135078, -73.8283132), ('staten island', 40.5834557, -74.1496048), ('unknown', -7.8344579, 112.4178015)]

In [8]:
import folium
from folium.plugins import HeatMap

# Location data with infection count for HIV
location_data = [('bronx', 40.8448, -73.8648, 10), ('brooklyn', 40.6782, -73.9442, 5),
                 ('manhattan', 40.7831, -73.9712, 7), ('queens', 40.7282, -73.7949, 12),
                 ('staten island', 40.5795, -74.1502, 3), ('unknown', 0, 0, 1)]

# Create a map object
m = folium.Map(location=[40.730610, -73.935242], zoom_start=10)

# Create a list of location coordinates with infection count for HIV
locations = [(loc[1], loc[2], loc[3]) for loc in location_data]

print(locations)
# Create a HeatMap object from the location data and add it to the map
#heat_map = HeatMap(locations)
#m.add_child(heat_map)

[(40.8448, -73.8648, 10), (40.6782, -73.9442, 5), (40.7831, -73.9712, 7), (40.7282, -73.7949, 12), (40.5795, -74.1502, 3), (0, 0, 1)]

In [12]:
from  sklearn.datasets import fetch_openml
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [13]:
X,y = fetch_openml("autos", version=1, as_frame=True, return_X_y=True)

In [16]:
data = X

In [17]:
data.head()

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0

In [22]:
data.columns
import numpy as np
import pandas as pd

In [39]:
pivot = np.round(pd.pivot_table(data, values='price', index='num-of-doors', columns='fuel-type', aggfunc=np.sum))

In [40]:
pivot

fuel-type       diesel        gas
num-of-doors
four          262918.0  1270003.0
two            43050.0  1059309.0

In [34]:
data.loc[(data['num-of-doors'] == 'four') & (data['fuel-type'] == 'diesel')].sum()['price']

/var/folders/c1/f8dlwkr17d50pt1c_tlzj3pr0000gn/T/ipykernel_1702/1108001096.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.loc[(data['num-of-doors'] == 'four') & (data['fuel-type'] == 'diesel')].sum()['price']

262918.0

In [36]:
test1 = data.loc[(data['num-of-doors'] == 'four') & (data['fuel-type'] == 'diesel')]

In [38]:
test1.price.sum()

262918.0

In [41]:
data

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,13495.0
1,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130.0,mpfi,3.47,2.68,9.0,111.0,5000.0,21.0,27.0,16500.0
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152.0,mpfi,2.68,3.47,9.0,154.0,5000.0,19.0,26.0,16500.0
3,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109.0,mpfi,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.0
4,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136.0,mpfi,3.19,3.40,8.0,115.0,5500.0,18.0,22.0,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,23.0,28.0,16845.0
201,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141.0,mpfi,3.78,3.15,8.7,160.0,5300.0,19.0,25.0,19045.0
202,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,173.0,mpfi,3.58,2.87,8.8,134.0,5500.0,18.0,23.0,21485.0
203,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145.0,idi,3.01,3.40,23.0,106.0,4800.0,26.0,27.0,22470.0
204,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141.0,mpfi,3.78,3.15,9.5,114.0,5400.0,19.0,25.0,22625.0

In [45]:
data = pd.read_csv('HIV_AIDS_Diagnoses_by_Neighborhood__Sex__and_Race_Ethnicity.csv')
data.head(10)

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,NaN,Willowbrook,Male,Unknown,0,0,0,0,0,0
5,2013,NaN,East Flatbush - Flatbush,Male,Black,54,56.5,8,14.8,33,34.5
6,2013,NaN,East Flatbush - Flatbush,Female,Native American,0,0,0,0,0,0
7,2013,NaN,Southwest Queens,Female,Unknown,0,0,0,0,0,0
8,2012,NaN,Fordham - Bronx Park,Male,Unknown,0,0,0,0,0,0
9,2010,NaN,Flushing - Clearview,All,All,14,5.4,5,35.7,12,4.6

In [46]:
set(data['Neighborhood (U.H.F)'])

{'All',
 'Bayside - Little Neck',
 'Bedford Stuyvesant -\nCrown Heights',
 'Bedford Stuyvesant - Crown Heights',
 'Bensonhurst - Bay\nRidge',
 'Bensonhurst - Bay Ridge',
 'Borough Park',
 'Canarsie - Flatlands',
 'Central Harlem -\nMorningside Heights',
 'Central Harlem - Morningside Heights',
 'Chelsea - Clinton',
 'Coney Island -\nSheepshead Bay',
 'Coney Island - Sheepshead Bay',
 'Crotona - Tremont',
 'Downtown - Heights -\nPark Slope',
 'Downtown - Heights - Park Slope',
 'East Flatbush -\nFlatbush',
 'East Flatbush - Flatbush',
 'East Harlem',
 'East New York',
 'Flushing - Clearview',
 'Fordham - Bronx\nPark',
 'Fordham - Bronx Park',
 'Fresh Meadows',
 'Gramercy Park -\nMurray Hill',
 'Gramercy Park - Murray Hill',
 'Greenpoint',
 'Greenwich Village -\nSoho',
 'Greenwich Village - SoHo',
 'High Bridge -\nMorrisania',
 'High Bridge - Morrisania',
 'Hunts Point - Mott\nHaven',
 'Hunts Point - Mott Haven',
 'Jamaica',
 'Kingsbridge -\nRiverdale',
 'Kingsbridge - Riverdale',
 'Long Island City -\nAstoria',
 'Long Island City - Astoria',
 'Lower Manhattan',
 'Northeast Bronx',
 'Pelham - Throgs\nNeck',
 'Pelham - Throgs Neck',
 'Port Richmond',
 'Ridgewood - Forest\nHills',
 'Ridgewood - Forest Hills',
 'Rockaway',
 'South Beach -\nTottenville',
 'South Beach - Tottenville',
 'Southeast Queens',
 'Southwest Queens',
 'Stapleton - St.\nGeorge',
 'Stapleton - St. George',
 'Sunset Park',
 'Union Square -\nLower East Side',
 'Union Square - Lower Eastside',
 'Unknown',
 'Upper East Side',
 'Upper Eastside',
 'Upper West Side',
 'Upper Westside',
 'Washington Heights -\nInwood',
 'Washington Heights - Inwood',
 'West Queens',
 'Williamsburg -\nBushwick',
 'Williamsburg - Bushwick',
 'Willowbrook'}

In [52]:

data.loc[(data['Neighborhood (U.H.F)'] == 'Bayside - Little Neck') & (data['YEAR'] == 2020)]

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
6980,2020,Queens,Bayside - Little Neck,All,All,0,0,0,NaN,0,0
6981,2020,Queens,Bayside - Little Neck,All,Asian/Pacific\nIslander,0,0,0,NaN,0,0
6982,2020,Queens,Bayside - Little Neck,All,Black,0,0,0,NaN,0,0
6983,2020,Queens,Bayside - Little Neck,All,Latino/Hispanic,0,0,0,NaN,0,0
6984,2020,Queens,Bayside - Little Neck,All,Other/Unknown,0,0,0,NaN,0,0
6985,2020,Queens,Bayside - Little Neck,All,White,0,0,0,NaN,0,0
6986,2020,Queens,Bayside - Little Neck,Female,All,0,0,0,NaN,0,0
6987,2020,Queens,Bayside - Little Neck,Female,Asian/Pacific\nIslander,0,0,0,NaN,0,0
6988,2020,Queens,Bayside - Little Neck,Female,Black,0,0,0,NaN,0,0
6989,2020,Queens,Bayside - Little Neck,Female,Latino/Hispanic,0,0,0,NaN,0,0
6990,2020,Queens,Bayside - Little Neck,Female,Other/Unknown,0,0,0,NaN,0,0
6991,2020,Queens,Bayside - Little Neck,Female,White,0,0,0,NaN,0,0
6992,2020,Queens,Bayside - Little Neck,Male,All,0,0,0,NaN,0,0
6993,2020,Queens,Bayside - Little Neck,Male,Asian/Pacific\nIslander,0,0,0,NaN,0,0
6994,2020,Queens,Bayside - Little Neck,Male,Black,0,0,0,NaN,0,0
6995,2020,Queens,Bayside - Little Neck,Male,Latino/Hispanic,0,0,0,NaN,0,0
6996,2020,Queens,Bayside - Little Neck,Male,Other/Unknown,0,0,0,NaN,0,0
6997,2020,Queens,Bayside - Little Neck,Male,White,0,0,0,NaN,0,0
7842,2020,Queens,Bayside - Little Neck,All,All,0,0,0,NaN,0,0
7843,2020,Queens,Bayside - Little Neck,All,Asian/Pacific\nIslander,0,0,0,NaN,0,0
7844,2020,Queens,Bayside - Little Neck,All,Black,0,0,0,NaN,0,0
7845,2020,Queens,Bayside - Little Neck,All,Latino/Hispanic,0,0,0,NaN,0,0
7846,2020,Queens,Bayside - Little Neck,All,Other/Unknown,0,0,0,NaN,0,0
7847,2020,Queens,Bayside - Little Neck,All,White,0,0,0,NaN,0,0
7848,2020,Queens,Bayside - Little Neck,Female,All,0,0,0,NaN,0,0
7849,2020,Queens,Bayside - Little Neck,Female,Asian/Pacific\nIslander,0,0,0,NaN,0,0
7850,2020,Queens,Bayside - Little Neck,Female,Black,0,0,0,NaN,0,0
7851,2020,Queens,Bayside - Little Neck,Female,Latino/Hispanic,0,0,0,NaN,0,0
7852,2020,Queens,Bayside - Little Neck,Female,Other/Unknown,0,0,0,NaN,0,0
7853,2020,Queens,Bayside - Little Neck,Female,White,0,0,0,NaN,0,0
7854,2020,Queens,Bayside - Little Neck,Male,All,0,0,0,NaN,0,0
7855,2020,Queens,Bayside - Little Neck,Male,Asian/Pacific\nIslander,0,0,0,NaN,0,0
7856,2020,Queens,Bayside - Little Neck,Male,Black,0,0,0,NaN,0,0
7857,2020,Queens,Bayside - Little Neck,Male,Latino/Hispanic,0,0,0,NaN,0,0
7858,2020,Queens,Bayside - Little Neck,Male,Other/Unknown,0,0,0,NaN,0,0
7859,2020,Queens,Bayside - Little Neck,Male,White,0,0,0,NaN,0,0

In [57]:
data.loc[data['RACE/ETHNICITY'] == 'All']

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
9,2010,NaN,Flushing - Clearview,All,All,14,5.4,5,35.7,12,4.6
21,2013,NaN,Gramercy Park - Murray Hill,Female,All,3,4.1,0,0,0,0
23,2011,NaN,South Beach - Tottenville,All,All,4,2.1,2,50,4,2.1
28,2013,NaN,Port Richmond,Female,All,5,13.6,1,20,4,10.9
...,...,...,...,...,...,...,...,...,...,...,...
8946,2021,Staten\nIsland,Stapleton - St.\nGeorge,Female,All,4,7.1,1,25,8,14.2
8952,2021,Staten\nIsland,Stapleton - St.\nGeorge,Male,All,13,24.5,2,15.4,5,9.4
8958,2021,Staten\nIsland,Willowbrook,All,All,4,4.9,0,0,4,4.9
8964,2021,Staten\nIsland,Willowbrook,Female,All,1,2.4,0,0,0,0
8970,2021,Staten\nIsland,Willowbrook,Male,All,3,7.7,0,0,4,10.2

In [58]:
data.loc[data['Neighborhood (U.H.F)'] == 'Flushing - Clearview'].isna()

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
9,2010,NaN,Flushing - Clearview,All,All,14,5.4,5,35.7,12,4.6
16,2012,NaN,Flushing - Clearview,Male,Asian/Pacific Islander,7,11.1,5,71.4,5,7.9
58,2013,NaN,Flushing - Clearview,Female,Native American,0,0,0,0,0,0
88,2010,NaN,Flushing - Clearview,Female,White,1,2.3,0,0,0,0
131,2011,NaN,Flushing - Clearview,Male,Unknown,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8737,2021,Queens,Flushing - Clearview,Male,Asian/Pacific\nIslander,3,5.4,1,33.3,3,5.4
8738,2021,Queens,Flushing - Clearview,Male,Black,3,161.2,0,0,0,0
8739,2021,Queens,Flushing - Clearview,Male,Latino/Hispanic,5,25.7,2,40,4,20.6
8740,2021,Queens,Flushing - Clearview,Male,Other/Unknown,0,0,0,NaN,0,0
8741,2021,Queens,Flushing - Clearview,Male,White,1,3.4,0,0,2,6.9