In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
data = pd.read_csv("HIV_AIDS_Diagnoses_by_Neighborhood__Sex__and_Race_Ethnicity.csv")

In [3]:
data.head(100)

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,NaN,Willowbrook,Male,Unknown,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
95,2011,NaN,Unknown,Female,Asian/Pacific Islander,0,NaN,0,NaN,0,NaN
96,2013,NaN,Sunset Park,All,All,17,12.7,2,11.8,12,8.9
97,2010,NaN,Hunts Point - Mott Haven,Female,Native American,0,0,0,0,0,0
98,2013,NaN,Southwest Queens,Male,Asian/Pacific Islander,6,17.2,1,16.7,2,5.7
99,2013,NaN,Northeast Bronx,Female,Unknown,0,0,0,0,0,0

In [4]:
data.tail(100)

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
8876,2021,Queens,West Queens,Female,Black,1,10.6,0,0,1,10.6
8877,2021,Queens,West Queens,Female,Latino/Hispanic,7,7.6,0,0,0,0
8878,2021,Queens,West Queens,Female,Other/Unknown,0,0,0,NaN,0,0
8879,2021,Queens,West Queens,Female,White,0,0,0,NaN,0,0
8880,2021,Queens,West Queens,Male,All,76,37.6,18,23.7,52,25.7
...,...,...,...,...,...,...,...,...,...,...,...
8971,2021,Staten\nIsland,Willowbrook,Male,Asian/Pacific\nIslander,2,24.2,0,0,0,0
8972,2021,Staten\nIsland,Willowbrook,Male,Black,0,0,0,NaN,0,0
8973,2021,Staten\nIsland,Willowbrook,Male,Latino/Hispanic,1,18.2,0,0,0,0
8974,2021,Staten\nIsland,Willowbrook,Male,Other/Unknown,0,0,0,NaN,1,153
8975,2021,Staten\nIsland,Willowbrook,Male,White,0,0,0,NaN,3,12.8

In [5]:
data.loc[data['Neighborhood (U.H.F)'] == 'Unknown']

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
14,2013,NaN,Unknown,Male,Multiracial,7,NaN,0,NaN,1,NaN
45,2013,NaN,Unknown,Female,Unknown,0,NaN,0,NaN,0,NaN
95,2011,NaN,Unknown,Female,Asian/Pacific Islander,0,NaN,0,NaN,0,NaN
105,2012,NaN,Unknown,Male,Native American,0,NaN,0,NaN,0,NaN
242,2011,NaN,Unknown,Male,Hispanic,74,NaN,4,NaN,42,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2760,2010,NaN,Unknown,Male,Black,101,NaN,13,NaN,70,NaN
2833,2012,NaN,Unknown,Male,All,275,NaN,36,NaN,168,NaN
2888,2011,NaN,Unknown,Male,Unknown,0,NaN,0,NaN,0,NaN
2917,2013,NaN,Unknown,Female,All,32,NaN,2,NaN,42,NaN
2922,2010,NaN,Unknown,Male,Multiracial,2,NaN,0,NaN,1,NaN

In [8]:
#data['Borough'] = data['Borough'].fillna(np.where(data['Neighborhood (U.H.F)'] == 'Unknown', 'Unknown',np.nan))
#data['Borough'] = data['Borough'].fillna(np.where(data['Neighborhood (U.H.F)'] == 'Unknown', 'Unknown', np.nan))
#data['Borough'] = data.apply(lambda row: np.where(row['Neighborhood (U.H.F)'] == 'Unknown', 'Unknown', row['Borough']), axis=1)
def fill_borough(row):
    if row['Neighborhood (U.H.F)'] == 'Unknown':
        return 'Unknown'
    else:
        return np.nan

# use the apply method to fill in missing values in the Borough column
data['Borough'] = data.apply(fill_borough, axis=1)

In [14]:
data[data.notna()]

,YEAR,Borough,Neighborhood (U.H.F),SEX,RACE/ETHNICITY,TOTAL NUMBER OF HIV DIAGNOSES,"HIV DIAGNOSES PER 100,000 POPULATION",TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES,PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES,TOTAL NUMBER OF AIDS DIAGNOSES,"AIDS DIAGNOSES PER 100,000 POPULATION"
0,2010,NaN,Greenpoint,Male,Black,6,330.4,0,0,5,275.3
1,2011,NaN,Stapleton - St. George,Female,Native American,0,0,0,0,0,0
2,2010,NaN,Southeast Queens,Male,All,23,25.4,5,21.7,14,15.4
3,2012,NaN,Upper Westside,Female,Unknown,0,0,0,0,0,0
4,2013,NaN,Willowbrook,Male,Unknown,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8971,2021,NaN,Willowbrook,Male,Asian/Pacific\nIslander,2,24.2,0,0,0,0
8972,2021,NaN,Willowbrook,Male,Black,0,0,0,NaN,0,0
8973,2021,NaN,Willowbrook,Male,Latino/Hispanic,1,18.2,0,0,0,0
8974,2021,NaN,Willowbrook,Male,Other/Unknown,0,0,0,NaN,1,153
8975,2021,NaN,Willowbrook,Male,White,0,0,0,NaN,3,12.8

In [15]:
data.isna().sum()

YEAR                                                                      0
Borough                                                                8908
Neighborhood (U.H.F)                                                      0
SEX                                                                       0
RACE/ETHNICITY                                                            0
TOTAL NUMBER OF HIV DIAGNOSES                                             6
HIV DIAGNOSES PER 100,000 POPULATION                                     74
TOTAL NUMBER OF CONCURRENT HIV/AIDS DIAGNOSES                             2
PROPORTION OF CONCURRENT HIV/AIDS DIAGNOSES AMONG ALL HIV DIAGNOSES    1893
TOTAL NUMBER OF AIDS DIAGNOSES                                            3
AIDS DIAGNOSES PER 100,000 POPULATION                                    71
dtype: int64

In [ ]:
def fill_borough(row):
    if row['Neighborhood (U.H.F)'] == 'Unknown':
        return 'Unknown'
    else:
        return np.nan

# use the apply method to fill in missing values in the Borough column
data['Borough'] = data.apply(fill_borough, axis=1)